version : '3.8'

volumes:
  paypick-data: {}

services:

  frontend:
    build:
      context: ./fe
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
  
  nginx:
    image: nginx
    volumes:
      - ./be/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./be/nginx/conf.d/:/etc/nginx/conf.d
      - ./fe/certs:/etc/nginx/certs  # Nginx 컨테이너에 빈 certs 폴더 생성
    ports:
      - "80:80"
      # - "3000:3000"
    depends_on:
      - frontend



  database:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: ana
    ports:
      - 3306:3306
    volumes:
      - paypick-data:/var/lib/mysql

  backend:
    build:
      context: ./be
      dockerfile: Dockerfile
    restart: always
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://database:3306/ana?useSSL=false&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 1234

      # http 포트 연결
      SERVER_PORT: 8081
      # SERVER_SSL_KEY_STORE: /etc/ssl/localhost.p12
      # SERVER_SSL_KEY_STORE_PASSWORD: 8759
      # SERVER_SSL_KEY_STORE_TYPE: PKCS12
#      SERVER_SSL_KEY_ALIAS: myapp
    ports:
      - 8081:8081
    depends_on:
      - database



