<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <!-- 파일 출력용 Appender -->
    <RollingFile name="FileAppender" fileName="/app/logs/app.log"
      filePattern="/app/logs/app-%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} [%X{methodName}] - %msg%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <SizeBasedTriggeringPolicy size="10MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
  </Appenders>

  <Loggers>
    <!-- 애플리케이션 로그 -->
    <Root level="info">
      <AppenderRef ref="FileAppender"/>
    </Root>
  </Loggers>
</Configuration>
